FLASK_APP=vedetra-server.py
FLASK_ENV=testing
FLASK_CONFIG=testing
#DATABASE_URL=
#DEV_DATABASE_URL=
TEST_DATABASE_URL=postgresql://vedetra:supersecretpassword@db/vedetra
LOAD_DUMMY_DATA=true
POSTGRES_HOST=db
