FLASK_APP=vedetra-server.py
FLASK_ENV=testing               # development, testing or production
FLASK_CONFIG=testing            # development, testing or production
#DATABASE_URL=                  # URL para la base de datos de producción
#DEV_DATABASE_URL=              # URL para la base de datos de desarrollo
TEST_DATABASE_URL=postgresql://vedetra:supersecretpassword@db/vedetra
LOAD_DUMMY_DATA=true            # true o false para cargar datos de ejemplo en la base de datos.
POSTGRES_HOST=db                # En caso de usar docker es el nombre del servicio de la BBDD
