FLASK_APP=vedetra-server.py
# development, testing or production
FLASK_ENV=testing
# development, testing or production
FLASK_CONFIG=testing
# URL para la base de datos de producción
#DATABASE_URL=
# URL para la base de datos de desarrollo
#DEV_DATABASE_URL=
#TEST_DATABASE_URL=postgresql://vedetra:supersecretpassword@db/vedetra
# true o false para cargar datos de ejemplo en la base de datos.
LOAD_DUMMY_DATA=true
