<!DOCTYPE html>
<html lang="es">
<head>
    <title>TFG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
</head>
<body>
    <h1>Hello World!</h1>
    <div class="columns">
        <div class="column">
            {% if cosas %}
                <h2>habemus json</h2>
                {% for device, time  in cosas %}
                    {{ device }} - {{ time }}<br>
                {% endfor %}
            {% endif %}
        </div>
        <div class="column">2</div>
    </div>

</body>
</html>